/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
	/* box-sizing: border-box; */
	max-width: 1200px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* font-family: ‘Mitr’, sans-serif;
font-family: ‘Nunito’, sans-serif;
font-family: ‘Cherry Swash’, cursive; Dark blue #1f1f44; Red #a00000; Grey #6d748c; Cream #e3e3e3*/

.headerBar {
    display:flex;
    justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #1f1f44;
	width: 100%;
	font-family: "Cherry Swash", cursive;
	
}
.applePieBackground{
	position: relative;
}
.headerBar .applePieBackground h1{
	color:#a00000;
	font-size: 3rem;
	position: absolute;
	bottom:10rem;
}
@media(max-width:500px){
	.applePieBackground{
		display: flex;
		justify-content: center;
		align-content: center; 
	}
	h1{
		flex-wrap: wrap;
		width: 15rem;
		bottom: 0;
		text-align: center;
		top: 4.5rem;
	}
	
	
}


.navBar{
	width:30rem;
	position: absolute;
	display: flex;
	justify-content: center;
	top:12rem;
	
}
@media(max-width:500px){
	.navBar{
		flex-direction:column;
		justify-content: center;
		align-items: center;
		top: 14rem;
		
		height:4.5rem;
		justify-content: space-between;
	}
	.navBar a{
	
		
	}
}
.navBar a{
	color:#a00000;
	margin:0 1rem;
	font-size: 1.2rem;
}
.content {
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: #a00000;
	color: #a00000;
}
.content img{
	height: 16.65rem;
}
.recipes{
	display: flex;
	flex-direction: row-reverse;
	background-color: #6d748c;
	color: #1f1f44;
}
.recipesBox{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
h2{
	padding: 1rem;
	font-size: 1.2rem;
	font-family: "Mitr", sans-serif; 
}
p{
	padding: 1rem;
	font-family:"Nunito", sans-serif;
	font-size: 1rem;
}
.burger{
	width: 26rem;
	
}
.contact{
	display: flex;
	flex-direction: row-reverse;
	background-color: #e3e3e3;
	font-weight: bold;
}
.contact img{
	height: 20rem;
}
.contactBox{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75%;
	
	color: #a00000;
}
.cprt{
	font-size: .8rem;
}
.aboutUs img{
	height: 12rem;
}
.cameron, .marious, .pat, .rebecca, .rem, .yuka{
	display: flex;
}
.marious, .rebecca, .yuka{
	flex-direction: row-reverse;
	
	background-color: #1f1f44;
	color: #e3e3e3;
}
.cameron, .pat, .rem{
	background-color: #6d748c;
	color: #a00000;
}

.camText{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 1rem;
}
